<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet"  href="product-list.component.css"/>
  <link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Quicksand">
</head>
<body>
<table class="fridge-table">
  <thead>
  <tr>
    <th>Id</th>
    <th>Image</th>
    <th>Name</th>
    <th>Barcode</th>
    <th>Expire Date</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tempProduct of products">
        <td class="align-middle">{{ tempProduct.Id}}</td>
        <td class="align-middle">
            <img src="{{ tempProduct.imageUrl }}" width="30" />
        </td>
        <td class="align-middle">{{ tempProduct.name}}</td>
        <td class="align-middle">{{ tempProduct.barcode}}</td>
        <td class="align-middle">{{ tempProduct.expireDate}}</td>
        <td class="align-middle">{{ tempProduct.description}}</td>
    </tr>

  </tbody>
</table>

<!-- <script src="tableSort.js"></script> -->
</body>
