<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="product-list.component.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
</head>

<body>
  <table class="fridge-table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Barcode</th>
        <th>Expire Date</th>
        <th>Category</th>
        <th>Days left</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tempProduct of products">
        <td routerLink="/products/{{tempProduct.id}}" class="align-middle">
          <img src="{{ tempProduct.imageUrl }}" width="50px" />
        </td>
        <td routerLink="/products/{{tempProduct.id}}" class="align-middle">{{ tempProduct.name}}</td>
        <td class="align-middle">{{ tempProduct.barcode}}</td>
        <td class="align-middle">{{ tempProduct.expireDate }}</td>
        <td class="align-middle">{{ tempProduct.categoryId}}</td>
        <td class="align-middle">{{ tempProduct.expireDate}}</td>
        <td>
          <button class="detailViewBtnDelete"></button>
        </td>
        

        <!-- <td class="align-middle">{{moment(tempProduct.expireDate).format('DD/MM/YYYY')}}</td> -->
      </tr>

    </tbody>
  </table>
  
  <div id="addBtn" class="wrapper">
    <button class="circle">
      <img id="addSign" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/2x/btw_ic_speeddial_white_24dp_2x.png" alt="" />
    </button>
  </div>


  <!-- <script src="tableSort.js"></script> -->
</body>