
<div class="detail-section">
  <div class="container-fluid">
    <!--<a routerLink="/products"><i class="material-icons">arrow_back_ios</i></a>-->
    <button class="detailViewBtnBack" a routerLink="/products/{{product.id}}"><i class="material-icons">arrow_back_ios</i>Back</button>

    <img src="{{ product.imageUrl }}" class="detail-img">

    <h4>{{ product.name }}</h4>

    <h6>Barcode</h6>
    <p>{{ product.barcode}}</p>

    <h6>Description</h6>
    <p>{{ product.description }}</p>
   
    <h6>Category</h6>
    <p>ProductCategory.name here</p>
    <!--<p>{{ showCategoryName(product.productCategory)}}</p>-->

    <h6>Expire Date</h6>
    <p>{{ product.date | date:'dd-MM-yyyy'}}</p>

    
      <div id="nameInputContainer">
        <label><b>Name: </b>
          <input [(ngModel)]= "product.name" placeholder="name" size="42"/>
        </label>
      </div>
      <br>

      <div id="descriptionInputContainer">
        <label><b>Description: </b>
          <br>
          <textarea id="descriptionInput" [(ngModel)]= "product.description" placeholder="description"  rows="4" cols="50" >{{ product.description }}</textarea>
        </label>
      </div>
  
      <div><!--hardcoded at the moment!-->
        <label for="productCategory"><b>Choose a category: </b></label>
        <select id="productCategory" name="productCategory">
          <option value="DRINKS">DRINKS</option>
          <option value="DAIRY">DAIRY</option>
          <option value="FRUITS">FRUITS</option>
          <option value="MEAT">MEAT</option>
          <option value="PREPARED FOOD">PREPARED FOOD</option>
          <option value="SWEETS">SWEETS</option>
          <option value="BREAD">BREAD</option>
        </select>
      </div>

      <div><!--hardcoded at the moment!-->
        <label for="fridge"><b>Choose a fridge: </b></label>
        <select id="fridge" name="fridge">
          <option value="WORK">WORK</option>
          <option value="MUM''S'">MUM'S</option>
          <option value="HOME">HOME</option>
          <option value="FRIEND''S">FRIENDS</option>
          <option value="SUMMERHOUSE">SUMMERHOUSE</option>
        </select>
      </div>

      <div>
        <label>Expire Date:
          <input [(ngModel)]= "product.date"/>
        </label>
      </div>
      
    
      <div class="detailBtns">
        <button (click)="putToDatabase()" class="detailViewBtnEdit">Save</button>
        <button (click)="goBack()" class="detailViewBtnDelete">Cancel</button>
      </div>
 
  </div>
</div>
