
<div class="detail-section">
  <div class="container-fluid">
    <!--<a routerLink="/products"><i class="material-icons">arrow_back_ios</i></a>-->
    <button class="detailViewBtnBack" a routerLink="/product-list/{{product.id}}"><i class="material-icons">arrow_back_ios</i>Back</button>

    <img src="{{ product.imageUrl }}" class="detail-img">

    <h4>{{ product.name }}</h4>

    <h6>Barcode</h6>
    <p>{{ product.barcode}}</p>

    <h6>Description</h6>
    <p>{{ product.description }}</p>
   
    <!-- IF PRODUCT DOESN'T HAVE CATEGORY OR FRIDGE, THEN SHOULD NOT SHOW THESE
    <h6>Category</h6>
    <p>ProductCategory.name here
      {{ showCategoryName(product.productCategory)}}</p>

    <h6>Fridge</h6>
    <p>Fridge name here</p>-->

    <h6>Expire Date</h6>
    <p>{{ product.date | date:'dd-MM-yyyy'}}</p>

    <form (ngSubmit)="updateTheProduct()">
      <div id="nameInputContainer" class="form-group">
        <label for="name"><b>Name: </b>
          <input type="text" class="form-control" id="name" 
            [(ngModel)]= "product.name" placeholder="{{ product.name }}" name="name" size="42"/>
        </label>
      </div>
      <br>

      <div id="descriptionInputContainer" class="form-group">
        <label for="description"><b>Description: </b>
          <br>
          <textarea type="text"  class="form-control" id="description" 
            [(ngModel)]= "product.description" placeholder="description"  name="description"
              rows="4" cols="50" >{{ product.description }}</textarea>
        </label>
      </div>
  
      <div id="productCategoryInputContainer" class="form-group"><!--hardcoded at the moment!-->
        <label for="productCategory"><b>Choose a category:</b></label>
        <select formControlName="productCategory">
          <option *ngFor="let tempcategory of categories" [ngValue]="product.category">{{ tempcategory.name}}</option>
        </select>
      </div>

      <div id="fridgeInputContainer" class="form-group">
        <label for="fridge"><b>Choose a fridge: </b></label>
        <select formControlName="fridge">
          <option *ngFor="let tempFridge of fridges" [ngValue]="product.fridge">{{ tempFridge.name}}</option>
        </select>
      </div>

      
      <!--<div id="fridgeInputContainer" class="form-group">
        <label for="fridge"><b>Choose a fridge: </b></label>
        <select id="fridge" name="fridge">
          <option *ngFor="let tempFridge of fridges">{{ tempFridge.name}}</option>
        </select>
      </div>-->

      <div id="dateInputContainer" class="form-group">
        <label for="date"><b>Set Expire Date: </b></label>
          <input id="date" name="date" [(ngModel)]="product.date"
            type="text" bsDatepicker [bsConfig]="datePickerConfig"/>
      </div>
      
    

      <div class="detailBtns">
        <button  type="submit" (click)="updateTheProduct()" class="detailViewBtnEdit">Update</button>

        <button (click)="goBack()" class="detailViewBtnDelete">Cancel</button>

        <p>{{ message }}</p>
      </div>
    </form>
  </div>
</div>
