.detailBtns{
    align-items: center;
}
.btn-info{
    color:#fff;
    background-color:#0da8e4!important;
    border-color:#0da8e4!important
}
.detailViewBtnBack{
    margin-top: 90px;
    display: flex;
    
    color: #666666;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    /*padding: 12px 15px;*/
    
}
.detailViewBtn{
    background:#05143f;
    padding:7px 20px;
    text-align:center;
    display:inline-block;
    color:#fff;
    border-radius:2px;
    font-size:14px;
    /*margin-top:5px;*/
    margin: 5px;
}
.detailViewBtnEdit{
    background: green;
    padding:7px 20px;
    text-align:center;
    display:inline-block;
    color:#fff;
    border-radius:2px;
    font-size:14px;
    /*margin-top:5px;*/
    /*margin: 5px;*/
    margin-left: 70px;
}
.detailViewBtnDelete{
    background: rgb(202, 0, 0);
    padding:7px 20px;
    text-align:center;
    display:inline-block;
    color:#fff;
    border-radius:2px;
    font-size:14px;
    margin-top:5px;
    margin-left: 25px;
}
.detailViewBtnDelete:hover{
    transition: 0.2s;
    background:red;
    color:#fff
}
.detailViewBtnEdit:hover{
    transition: 0.2s;
    background:rgb(0, 190, 0);
    color:#fff
}
.detail-img{
  margin-top: 20px;
  margin-bottom: 10px;
  width: 300px;
  border: rgb(202, 202, 202) solid 1px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

