

<div class="detail-section">
    <div class="container-fluid">
        <br>
        <h6>ProductImage</h6>
        <!--<img src="{{ product.imageUml }}" class="detail-img">-->
        <img src="{{ product.imageUrl }}" width="200px">
        <h3>{{ product.name }}</h3>

        
        <div class="expireDate">{{ product.expireDate}}</div>
        
        <h6>Barcode</h6>
        <p>{{ product.barcode}}</p>

        <h6>Description</h6>
        <p>{{ product.description}}</p>

        <div class="detailBtns">
            <!--<a href="#" class="detailViewBtnEdit">Edit</a>-->
            <button (click)= "editFromFridge(product)" class="detailViewBtnEdit">Edit</button>
            <!--<a href="#" class="detailViewBtnDelete">Delete</a>-->
            <button (click)="deleteFromFridge(product)" class="detailViewBtnDelete">Delete</button>
        </div>
        <hr>

        <a routerLink="/products" class="mt-5">Back to Product List</a>
    </div>
</div>
