
<div class="detail-section">
  <div class="container-fluid">
    <!--<a routerLink="/products"><i class="material-icons">arrow_back_ios</i></a>-->
    <button class="detailViewBtnBack" a routerLink="/products"><i class="material-icons">arrow_back_ios</i>Back</button>

    <img src="{{ product.imageUrl }}" class="detail-img">

    <h4>{{ product.name }}</h4>

    <h6>Barcode</h6>
    <p>{{ product.barcode}}</p>

    <h6>Description</h6>
    <p>{{ product.description }}</p>

    <div class="detailBtns">
      <button routerLink="editProduct" class="detailViewBtnEdit">Edit</button>

      <button (click)="deleteFromFridge(product.id)" class="detailViewBtnDelete" a routerLink="/products">Delete</button>
      
    </div>
  </div>
</div>
