
<div class="detail-section">
    <div class="container-fluid">
      <!--<a routerLink="/products"><i class="material-icons">arrow_back_ios</i></a>-->
      <button class="detailViewBtnBack" a routerLink="barcode"><i class="material-icons">arrow_back_ios</i>Back</button>
  
      
      <img src ="{{product.imageUrl}}"  class="detail-img">
      
      <h6>Barcode:</h6>
      <p>{{ product.barcode}}</p>
      
      <form (ngSubmit)="saveTheProduct()">

        <div id="nameContainer" class="form-group">
          <label for="name"><b>Name of Product: </b>
            <br>
            <input type="text"  class="form-control" id="name" 
              [(ngModel)]= "product.name" placeholder="Write Name here..."  name="name" >
          </label>
        </div>

        <div id="imageURL" class="form-group">
          <label for="imageURL"><b>Name of Product: </b>
            <br>
            <input type="text"  class="form-control" id="imageUrl" 
              [(ngModel)]= "product.imageUrl" placeholder="Write image URL..."  name="imageURL" >
              
          </label>
        </div>

        <div id="descriptionInputContainer" class="form-group">
          <label for="description"><b>Description: </b>
            <br>
            <textarea type="text"  class="form-control" id="description" 
              [(ngModel)]= "product.description" placeholder="Write dicription here..."  name="description"
                rows="4" cols="50" ></textarea>
          </label>
        </div>
 
        <div id="productCategoryInputContainer">
          <label for="productCategory"><b>Choose a category:</b></label>
          <select formControlName="productCategory">
            <option *ngFor="let tempcategory of categories" [ngValue]="product.category">{{ tempcategory.name}}</option>
          </select>
        </div>
  
        <div id="fridgeInputContainer" class="form-group">
          <label for="fridge"><b>Choose a fridge: </b></label>
          <select formControlName="fridge">
            <option *ngFor="let tempFridge of fridges" [ngValue]="product.fridge">{{ tempFridge.name}}</option>
          </select>
        </div>
  
   
        <div id="dateInputContainer" class="form-group">
          <label for="date"><b>Set Expire Date: </b></label>
            <input id="date" name="date" [(ngModel)]="product.date"
              type="text" bsDatepicker [bsConfig]="datePickerConfig"/>
        </div>
            
  
        <div class="detailBtns">
          <button  type="submit" (click)="saveTheProduct(); logInfo()" class="detailViewBtnEdit">Update</button>
  
          <button (click)="goBack()" class="detailViewBtnDelete">Cancel</button>
  
          <p>{{ message }}</p>
        </div>
      </form>
    </div>
  </div>
  
