
<div class="detail-section">
    <div class="container-fluid">
      <!--<a routerLink="/products"><i class="material-icons">arrow_back_ios</i></a>-->
      <button class="detailViewBtnBack" a routerLink="barcode"><i class="material-icons">arrow_back_ios</i>Back</button>
  
      <img src="{{ productAPI.imageUrl }}" class="detail-img">
  
      <h4>Product Name</h4>
      <p>{{ productAPI.name }}</p>
  
      <h6>Barcode</h6>
      <p>{{ productAPI.barcode }}</p>
  
      <h6>Description</h6>
      <p>{{ productAPI.description }}</p>
     
  
      <form (ngSubmit)="saveTheProduct()">
 
        <div id="productCategoryInputContainer">
          <label for="productCategory"><b>Choose a category:</b></label>
          <select formControlName="productCategory">
            <option *ngFor="let tempcategory of categories" [ngValue]="productToDatabase.category">{{ tempcategory.name}}</option>
          </select>
        </div>
  
        <div id="fridgeInputContainer" class="form-group">
          <label for="fridge"><b>Choose a fridge: </b></label>
          <select formControlName="fridge">
            <option *ngFor="let tempFridge of fridges" [ngValue]="productToDatabase.fridge">{{ tempFridge.name}}</option>
          </select>
        </div>
  
   
        <div id="dateInputContainer" class="form-group">
          <label for="date"><b>Set Expire Date: </b></label>
            <input id="date" name="date" [(ngModel)]="productToDatabase.date"
              type="text" bsDatepicker [bsConfig]="datePickerConfig"/>
        </div>
            
  
        <div class="detailBtns">
          <button  type="submit" (click)="saveTheProduct()" class="detailViewBtnEdit">Save</button>
  
          <button (click)="goBack()" class="detailViewBtnDelete">Cancel</button>
  
          <p>{{ message }}</p>
        </div>
      </form>
    </div>
  </div>
  
